PORT=8080
DB_PATH=chain.db
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_CLUSTER=devnet
# the JSON byte array from `solana-keygen new`, in quotes
SOLANA_KEYPAIR='[]'
PLEDGE_PER_LINK_CENTS=10
PLEDGE_CAP_CENTS=5000
CHARITY_NAME="International Institute of Minnesota"
CHARITY_URL=https://iimn.org
PLEDGER_NAME=Nazar
RATE_LIMIT_PER_HOUR=3
